*{ 
	margin: 0;
	padding: 0;
 }

 body{
 	font-family: 'Montserrat', sans-serif;
 }

 nav{
 	background-color: rgba(0,0,0, 0.6);
 	height: 75px;
 	position: fixed;
 	z-index: 1;
 	width: 100%;
 }

 nav ul{
 	float: right;
 	margin-right: 120px;
 	margin-top: 25px;
 }

 nav ul li{
 	float: left;
 	list-style-type: none;
 	color: white;
 	font-weight: bold;
 	font-size: 20px;
 	margin-right: 20px;
 }
 li a {
 	color: white;
 }

 nav li a:hover {
 	color: #57b55f;
 }

 a {
 	text-decoration: none;
 }

header {
	text-align: center;
	color: white;
	font-weight: bold;
	padding-top: 250px;
	background-image: url("../img/bkg1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 300px;
}
.slogan{
font-size: 65px;
margin-bottom: 55px


}
 .logo{
 	width: 130px;
 	margin-left: 140px;
 	margin-top: 16px;
 }

 .guia{
 	width: 100%;
 	opacity: 0.5;
 	z-index: -1;
 	position: absolute;;
 }
 .btn{
 	color: white;
 	border-radius: 50px;
 	height: 47px;
 	font-weight: bold;
 	font-size: 15px;
 	margin-right: 35px;
 	text-transform: uppercase;
 	border: 0;
 }
 .btn-verde{
 	background-color: #57b55f;
 	width: 350px;
 	margin-right: 5px;
 	
 }
 .btn-branco{
 	background: rgba(0,0,0,0);
 	width: 300px;
 	border: 2px solid white;
 }
 .btn-branco:hover {
 	background-color: white;
 	color: black;
 }

.logo2{

 	width: 100%;
 	margin: auto;
 	font-size: 65px
}

.guia3{



}